.num-results{
	text-align: right;
	font-size: 1em;
	color:#363636;
}

header h1 a {
	color:#333333;
	text-decoration:none; 
}

header h1 a:hover {
	color:#666666;
	text-decoration:none; 
}

.navbar-search {
  margin-top: 10%;
}
